@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.blogDetails {
    padding: 140px 0 40px 0;
    border-bottom: 1px solid rgb(255, 255, 255, .2);

    @include respond-to("sm") {
        padding: 120px 0 40px 0;
    }

    .textgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: flex-end;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 20px;
        }



        p {
            color: #C1C1C1;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            font-family: var(--font-inter-sans);
            line-height: 140%;
            max-width: 476px;
            margin-left: auto;

            @include respond-to("md") {
                margin-left: 0px;
            }
        }

        h2 {
            color: #FFF;
            font-family: var(--font-inter-sans);
            max-width: 577px;
            font-size: 60px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include respond-to("sm") {
                font-size: 32px;
            }

            span {
                color: #69CDFF;
            }
        }
    }

    .banner {
        img {
            display: block;
            border-radius: 4px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.detailsLayer {
    position: relative;

    :global(.container-lg) {
        @include respond-to("sm") {
            position: relative;
            z-index: 1;
        }
    }


    &::before {
        position: absolute;
        right: 0;
        content: '';
        border-radius: 1504.362px;
        background: radial-gradient(50% 50% at 50% 50%, #19424B 0%, #0F203B 100%);
        filter: blur(200px);
        width: 400px;
        height: 400px;
        top: 0;

        @include respond-to("sm") {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            filter: blur(100px);
        }
    }

    &::after {
        position: absolute;
        left: 0;
        content: '';
        border-radius: 1504.362px;
        background: radial-gradient(50% 50% at 50% 50%, #19424B 0%, #0F203B 100%);
        filter: blur(200px);
        width: 400px;
        height: 400px;
        bottom: 0;

        @include respond-to("sm") {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            filter: blur(100px);
        }
    }
}