@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.riskAndRecovery {
    padding: 120px 0;
    background-color: #000;
    overflow: hidden;
    position: relative;

    &::before {
        filter: blur(139.5px);
        content: "";
        background: radial-gradient(50% 50%, #19424b 0%, #0f203b 100%);
        border-radius: 400px;
        z-index: 9;
        width: 400px;
        height: 400px;
        position: absolute;
        bottom: 20%;
        left: 0;
    }

    @include respond-to("md") {
        padding: 80px 0;
    }

    @include respond-to("sm") {
        padding: 60px 0;
    }

    .topAlignment {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 519px 1fr;
        gap: 64px;
        align-items: center;
        position: relative;
        z-index: 9;
        padding: 0 0 60px 0;

        @include respond-to("md") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        @include respond-to("sm") {
            padding: 0 0 40px 0;
            gap: 0;
        }

        .items {
            .relativeDiv {
                position: relative;

                .glowRing {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background: radial-gradient(circle, rgba(0, 221, 251, 0.28) 0%, transparent 70%);
                    pointer-events: none;
                    z-index: 1;
                }

                .roundeCenter {
                    border-radius: 180px;
                    background: #081012;
                    box-shadow: 0 0 12px 0 rgba(107, 197, 224, 0.80) inset;
                    width: 180px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 180px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;

                    img {
                        max-width: 80px;
                    }
                }
            }

            .contentStyle {
                h3 {
                    color: #FFF;
                    font-size: 52px;
                    font-family: var(--font-inter-sans);
                    font-weight: 500;
                    margin: 0 0 20px 0;
                    line-height: 130%;

                    @include respond-to("md") {
                        font-size: 40px;
                    }

                    @include respond-to("sm") {
                        font-size: 32px;
                    }
                }

                .listGrid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;

                    @include respond-to("sm") {
                        grid-template-columns: 1fr;
                        gap: 0;
                    }

                    ul {
                        margin: 0;
                        padding: 0 0 0 20px;

                        li {
                            color: #CACACA;
                            font-family: var(--font-inter-sans);

                            font-size: 16px;
                            font-style: normal;
                            padding: 0 0 12px 0;
                            font-weight: 400;
                            font-family: var(--font-inter-sans);
                            line-height: 130%;

                            &::marker {
                                color: #38BDF8;
                            }

                            @include respond-to("sm") {
                                font-size: 14px;
                            }

                            &:last-child {
                                padding: 0;
                            }
                        }
                    }
                }

                h3 {
                    color: #FFF;
                    font-size: 24px;
                    font-style: normal;
                    margin: 20px 0 12px 0;
                    font-weight: 400;
                    line-height: 130%;
                    font-family: var(--font-inter-sans);

                    @include respond-to("md") {
                        font-size: 22px;
                    }

                    @include respond-to("sm") {
                        margin: 0 0 12px 0;
                        font-size: 18px;
                    }

                }

                p {
                    color: #CACACA;
                    font-size: 16px;
                    font-family: var(--font-inter-sans);
                    font-style: normal;
                    font-weight: 400;
                    margin: 0 0 20px 0;
                    line-height: 130%;

                    @include respond-to("sm") {
                        font-size: 14px;
                    }
                }
            }

            .image {
                position: relative;

                svg {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .riskBox {
        border-radius: 0 6px 6px 0;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(110px);
        border-left: 2px solid #38BDF8;
        padding: 16px;
        position: relative;
        overflow: hidden;

        &::before {
            position: absolute;
            top: 0;
            width: 250px;
            height: 100%;
            background-color: #1E90FF;
            content: '';
            left: 0;
            opacity: 0.5;
            filter: blur(40px);
        }

        h3 {
            color: #FFF;
            font-size: 16px;
            margin: 0 0 12px 0;
            position: relative;
            font-family: var(--font-inter-sans);

            font-weight: 500;
            line-height: 130%;
        }

        p {
            color: #CACACA;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            font-family: var(--font-inter-sans);

            line-height: 130%;
        }

    }
}