@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.refundWrapper {
    padding: 160px 0 100px 0;

    @include respond-to("md") {
        padding: 160px 0 60px 0;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
        padding: 0 20px;
    }

    .title {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;
    }

    .policyList {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sectionBlock {
        display: flex;
        flex-direction: column;
    }

    .sectionTitle {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    .itemList {
        list-style-type: disc;
        padding-left: 28px;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            font-size: 16px;
            line-height: 1.5;
            color: #d0d0d0;

            &::marker {
                color: #4EAFEF;
            }
        }
    }
}