@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.referralNetwork {
    padding: 100px 0 0 0;

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }

    .title {
        padding: 0 0 60px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            color: #fff;
            text-transform: uppercase;
            max-width: 700px;
            margin: 0 auto 16px auto;
            text-align: center;
            font-size: 52px;
            font-weight: 300;

            @include respond-to("md") {
                font-size: 42px;
            }

            @include respond-to("sm") {
                font-size: 32px;
            }
        }

        p {
            font-size: 20px;
            font-family: var(--font-inter-sans);
            color: rgb(255, 255, 255);
            opacity: 0.6;
            background: rgb(4, 7, 9);
            max-width: 928px;
            margin: 0 auto;
            text-align: center;
            font-weight: 300;

            @include respond-to("sm") {
                font-size: 16px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        gap: 0px;

        .items {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            @include respond-to("sm") {
                height: 240px;
            }

            &:hover,
            &.active {
                &::before {
                    right: 0%;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                right: -100%;
                width: 80%;
                height: 100%;
                content: '';
                background: radial-gradient(50% 50% at 50% 50%, #19424B 0%, #0F203B 100%);
                filter: blur(139.5px);
                opacity: 1;
                transition: .3s ease-in-out;
            }

            p {
                font-size: 30px;
                color: #fff;
                position: relative;
                z-index: 9;
                font-weight: 500;

                @include respond-to("sm") {
                    font-size: 16px;
                    max-width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }

        .line {
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: .2;
        }
    }
}