@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.experience {
    border-top: 1px solid rgb(255, 255, 255, .1);
    border-bottom: 1px solid rgb(255, 255, 255, .1);
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);

    @include respond-to("md") {
        margin-left: 0px;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 400px;
        border-radius: 400px;
        opacity: 0.5;
        background: radial-gradient(50% 50% at 50% 50%, #19424B 0%, #0F203B 100%);
        filter: blur(175px);
        content: '';

        @include respond-to("sm") {
            width: 200px;
            height: 200px;
            filter: blur(100px);
        }
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 400px;
        border-radius: 400px;
        background: radial-gradient(50% 50% at 50% 50%, #19424B 0%, #0F203B 100%);
        filter: blur(139.5px);
        content: '';

        @include respond-to("sm") {
            width: 200px;
            height: 200px;
            filter: blur(100px);
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        position: relative;
        z-index: 1;

        @include respond-to("md") {
            grid-template-columns: 1fr;
        }

        @include respond-to("sm") {
            gap: 20px;
        }

        .iconGrid {
            display: grid;
            grid-template-columns: 52px 1fr;
            gap: 24px;
            align-items: center;
            border-bottom: 1px solid rgb(255, 255, 255, .1);
            padding: 40px;

            @include respond-to("sm") {
                grid-template-columns: 32px 1fr;
                padding: 16px;
            }

            &:last-child {
                border: none;
            }

            svg {
                @include respond-to("sm") {
                    width: 100%;
                    height: 100%;
                }
            }

            span {
                display: block;
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 300;
                line-height: 130%;

                @include respond-to("sm") {
                    font-size: 18px;
                }
            }
        }

        .items {
            &:first-child {
                padding: 100px 0 0 64px;
                border-right: 1px solid rgb(255, 255, 255, .1);

                @include respond-to("md") {
                    padding: 60px 20px 0 20px;
                }

                .content {
                    span {
                        display: block;
                        color: #FFF;
                        font-size: 20px;
                        font-style: italic;
                        padding: 0 0 20px 0;
                        font-weight: 500;
                        line-height: normal;

                        @include respond-to("sm") {
                            font-size: 16px;
                            padding: 0 0 10px 0;
                        }
                    }

                    h2 {
                        font-size: 52px;
                        font-weight: 300;
                        max-width: 700px;
                        color: #fff;
                        text-transform: uppercase;

                        @include respond-to("md") {
                            font-size: 42px;
                        }

                        @include respond-to("sm") {
                            font-size: 32px;
                        }
                    }

                    .round {
                        width: 440px;
                        margin-left: 50px;
                        height: 440px;
                        margin-top: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        &::before {
                            @include respond-to("sm") {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 250px;
                                height: 250px;
                                border-radius: 250px;
                                opacity: 0.5;
                                background: radial-gradient(50% 50% at 50% 50%, #19424B 0%, #0F203B 100%);
                                filter: blur(50px);
                                content: '';

                            }
                        }

                        @include respond-to("md") {
                            width: 380px;
                            height: 380px;
                            margin-left: 0;
                            margin: 40px auto;
                        }

                        @include respond-to("sm") {
                            width: 280px;
                            height: 280px;
                            margin: 30px auto;
                        }

                        .dashedBorder {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            border: 2px dashed rgba(255, 255, 255, 0.4);
                        }

                        img {
                            display: block;
                            max-width: 318px;
                            position: relative;
                            z-index: 2;

                            @include respond-to("md") {
                                max-width: 250px;
                            }

                            @include respond-to("sm") {
                                max-width: 180px;
                            }
                        }
                    }
                }

            }
        }
    }
}